* {
  box-sizing: border-box;
}

:root {
  font-family: Arial, sans-serif;
  color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-highlight: #0b4f7f;
  --color-light-gray: #dddddd;
  --color-dark-gray: #555555;
  --color-hover: #eeeeee;

  --button-size: 2.4rem;
  --border-radius-sml: 5px;
  --icon-size: 1.2rem;
}

#root {
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-highlight);
}

.a-phone {
  text-decoration: underline;
  color: inherit;
}

input {
  font: inherit;
}

input:focus {
  outline: none;
}

/* BaseMap */
.map {
  position: relative;
  width: 100vw;
  height: 100dvh;
}

.map-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* AttribControl */
.attrib-control {
  position: absolute;
  right: 5px;
  bottom: 5px;
  margin-left: 5px;

  background-color: white;

  border-radius: 12px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  z-index: 3;
} /* adjusted in @media below */

.attrib-content {
  font-size: 12px;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 2px;
}

.attrib-content a {
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
}

.attrib-content a:hover {
  text-decoration: underline;
}

.attrib-logo {
  border-radius: 12px;
}

.attrib-logo:hover {
  background-color: var(--color-hover);
}

.attrib-logo img {
  display: block;
  height: 24px;
  cursor: pointer;
}

/* InfoPanel */
.info-panel {
  position: absolute;
  top: 5px;
  left: 5px;

  width: min(30rem, 80vw);
  background-color: white;

  border-radius: calc(var(--button-size) / 2);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  padding: calc(var(--button-size) / 3);

  /* For AboutPanel overflow */
  max-height: calc(100vh - 10px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: hidden;
} /* adjusted in @media below */

.info-panel h3 {
  margin: 0;
}

.info-panel p {
  margin: 0.8rem 0;
}

p.info-subtitle {
  margin-top: 0.4rem;
}

.info-panel table {
  border-collapse: collapse;
}

.info-panel td {
  padding: 0 0 0.2rem 1rem;
  padding-left: 1rem;
}

.info-panel td:first-child {
  padding-left: 0;
}

.info-divider {
  border-bottom: 1px solid var(--color-dark-gray);
  width: 100%;
  margin-bottom: 0.6rem;
}

.info-element {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.8rem;
  margin: 0.4rem 0;
}

.info-element:last-child {
  margin-bottom: 0;
}

.info-element img {
  height: 1.2rem;
}

.info-panel:last-child {
  margin-bottom: 0;
}

/* GastroPanel price table */
.info_menu {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  margin-top: 0.2rem;
}

/* Generic row style */
.info_menu-row {
  display: grid;
  grid-template-columns: 1fr min-content min-content; /* flexible product, volume, price */
  gap: 1rem; /* reduce space between columns */
  align-items: baseline;
}

.info_brand-row {
  margin-top: 0.5rem; /*remove*/
}

.info_brand {
  font-weight: 600;
}

.info_product-row.indent {
  padding-left: 0.5rem;
}

/* Shared text color for products, volume, and price */
.info_product,
.info_volume {
  color: #444;
}

/* Price column */
.info_price {
  text-align: right;
  font-weight: 550;
  white-space: nowrap;
}

/* Volume column */
.info_volume {
  text-align: middle;
}

/* Non-alcoholic and ab label */
.info_small_panel_text {
  font-size: 80%;
  padding-right: 3px;
}

/* OpeningStatus */
.opening-hours {
  margin-bottom: 0.4rem;
}

.opening-hours.open {
  color: #065f46;
}

.opening-hours.closed {
  color: #991b1b;
}

/* ControlBar */
.control-bar {
  padding: 5px;
  max-height: 100%;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;

  z-index: 3;
}

.control-bar > div {
  pointer-events: auto;
}

.control-row {
  display: flex;
  flex-direction: row;
  gap: 5px;

  overflow: hidden;
  margin: -2px;
  padding: 2px;
  /* 5 + 5 + (5 - 2px) for padding and (gap - box-shadow) */
  max-width: calc(100vw - 13px - var(--button-size));
}

.control-button {
  position: relative;
  background-color: white;
  flex-shrink: 0;

  height: var(--button-size);
  width: var(--button-size);

  border-radius: calc(var(--button-size) / 2);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.control-button:hover {
  background-color: var(--color-hover);
}

.control-button img {
  height: var(--icon-size);
}

.filter-pill {
  position: relative;
  background-color: white;
  flex-shrink: 0;

  height: var(--button-size);
  padding: 0 calc((var(--button-size) - 2.4rem) / 2) 0 calc(var(--button-size) / 3);

  border-radius: calc(var(--button-size) / 2);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter-pill img {
  height: var(--icon-size);
}

.filter-close {
  height: 2.4rem;
  width: 2.4rem;

  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-pill:hover .filter-close {
  background-color: var(--color-hover);
}

.source-pill.disabled {
  color: var(--color-dark-gray);
}

.source-pill {
  padding: calc(var(--button-size) / 3);
}

.source-pill.disabled img {
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.source-pill:hover {
  background-color: var(--color-hover);
}

.control-panel {
  width: min(30rem, 80vw);
  background-color: white;

  border-radius: calc(var(--button-size) / 2);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  padding: calc(var(--button-size) / 3);

  overflow: hidden;
  position: relative;

  /* For AboutPanel overflow */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.control-panel h4 {
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
}

.control-panel h4:first-of-type {
  margin-top: 0;
}

/* SearchBar and FilterBar */
.search-bar {
  width: min(30rem, 80vw);
  min-width: 15rem;
  background-color: white;

  border-radius: calc(var(--button-size) / 2);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  position: relative;
}

.search-bar input {
  width: 100%;
  height: var(--button-size);
  padding: calc(var(--button-size) / 3);
  border: none;
  border-radius: calc(var(--button-size) / 2);
}

.suggestions a {
  display: block;
  cursor: pointer;
  padding: calc(var(--button-size) / 6) calc(var(--button-size) / 3);
}

.suggestions a:hover {
  background-color: var(--color-hover);
}

.suggestions a:first-child {
  border-top: 1px solid var(--color-light-gray);
}

.suggestions a:last-child {
  margin-bottom: calc(var(--button-size) / 6);
}

/* AboutPanel */
.about-header {
  height: 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;

  border-radius: var(--border-radius-sml);
  cursor: pointer;
}

.about-header:hover {
  background-color: var(--color-hover);
}

.about-header img {
  height: 80%;
}

.about-content {
  overflow: scroll;
}

.about-content p {
  margin: 0.4rem 0;
}

/* Buttons */
.close-button {
  position: absolute;
  top: calc((var(--button-size) - 2.1rem) / 2);
  right: calc((var(--button-size) - 2.1rem) / 2);

  height: 2.1rem;
  width: 2.1rem;

  border-radius: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: var(--color-hover);
}

.close-button img {
  height: var(--icon-size);
}

/* MaplibreGL */
.maplibregl-ctrl-top-right .maplibregl-ctrl {
  margin: 5px 5px 0 0;
}

.maplibregl-ctrl-group:not(:empty) {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: calc(var(--button-size) / 2);
  overflow: hidden;
}

.maplibregl-ctrl button {
  height: var(--button-size);
  width: var(--button-size);
}

.maplibregl-ctrl button:not(:disabled):hover {
  background-color: var(--color-hover);
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon {
  background-image: url(/icons/plus.svg) !important;
  background-size: var(--icon-size);
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon {
  background-image: url(/icons/minus.svg) !important;
  background-size: var(--icon-size);
}

/* .maplibregl-ctrl button.maplibregl-ctrl-compass .maplibregl-ctrl-icon {
  background-image: url(compass.svg) !important;
  background-size: var(--icon-size);
}

.maplibregl-ctrl button.maplibregl-ctrl-geolocate .maplibregl-ctrl-icon {
  background-image: url(geolocate.svg) !important;
  background-size: var(--icon-size);
} */

/* Media queries*/
@media (max-aspect-ratio: 1/1) {
  .info-panel {
    top: auto;
    left: 0;
    bottom: 0;
    width: 100vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    max-height: calc(70vh);
    padding-bottom: calc(24px + 10px);
  }

  .maplibregl-ctrl.maplibregl-ctrl-group:has(button.maplibregl-ctrl-zoom-in) {
    display: none;
  }
}

@media (pointer: coarse) {
  .attrib-logo:hover {
    background-color: white;
  }

  .control-button:hover {
    background-color: white;
  }

  .close-button:hover {
    background-color: white;
  }

  .about-header:hover {
    background-color: white;
  }

  .source-pill:hover {
    background-color: white;
  }

  .filter-pill:hover .filter-close {
    background-color: white;
  }

  .suggestions a:hover {
    background-color: white;
  }

  .maplibregl-ctrl button:not(:disabled):hover {
    background-color: white;
  }

  .maplibregl-ctrl-attrib-button:hover {
    background-color: white;
  }

  .maplibregl-ctrl.maplibregl-ctrl-group:has(button.maplibregl-ctrl-zoom-in) {
    display: none;
  }
}
